@using BeeFee.Model.Embed
@model WebApplication3.Models.Profile.ProfileModel

<div class="container">
	<div class="event-text" id="ajax-container">
		<h2>Ваш профиль</h2>
		<form asp-action="Edit" asp-controller="Profile" asp-area="" method="post">
			<div class="modals--field">
				<div class="input-field@(!String.IsNullOrEmpty(Model.Name)?" with-focus":null)">
					<div class="input-field--b">
						<label class="input-field--l">Отображаемое имя</label>
						@Html.TextBoxFor(x => x.Name, new { @class = "input-field--i" })
					</div>
					<div class="input-field--t"></div>
				</div>
			</div>
			
			<div>@Html.ValidationMessage("error")</div>
			<div class="modals--submit">
				<button class="btn is-block" type="submit">Сохранить</button>
			</div>
		</form>
		<br />
		<a asp-action="ChangePassword" class="btn is-block">Сменить пароль</a>
		<br/>
		<a asp-action="Registrations" class="btn is-block">История моих регистраций</a>
		@if (User.IsInRole(RoleNames.Organizer))
		{
			<br/>
			<a asp-action="First" asp-controller="Companies" asp-area="Org" class="btn is-block">Кабинет организатора</a>
		}
	</div>
</div>