@using BeeFee.WebApplication.Infrastructure
@using SharpFuncExt
@{
    Layout = null;
}
@Html.ValidationSummary(true)
@model BeeFee.WebApplication.Areas.Org.Models.CreateOrUpdateEventPreviewModel
<div class="create--links">
    @*<div class="create--link">@Html.ActionLink("Предварительный просмотр", "Preview")</div>*@
    @*<div class="create--link"><a href="#">Предпросмотр</a></div>*@
</div>