@using BeeFee.WebApplication.Infrastructure
@using SharpFuncExt
@{
    Layout = null;
}

@model BeeFee.WebApplication.Areas.Org.Models.CreateOrUpdateEventModel
<span asp-validation-for="Html" class="text-danger"></span>
<div class="create--editor">
    <input type="hidden" asp-for="Html" />
    <div class="wysiwyg-editor"></div>
</div>