@using BeeFee.Model.Embed
@using BeeFee.WebApplication.Areas.Org.Models
@using BeeFee.WebApplication.Infrastructure
@model BeeFee.WebApplication.Areas.Org.Models.CreateOrUpdateEventModel
@{
    ViewData["Title"] = "Создание нового события";
}
<form asp-action="Add" asp-controller="Event" asp-route-companyId="@Model.CompanyId" method="post" class="form-horizontal" enctype="multipart/form-data" id="event-form">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="create">
        @Html.Partial("_CreateOrUpdateEvent", Model)
    </div>
</form>

@section Scripts {

    <script type="text/javascript">
        $(function () {
            initCreateOrUpdateEventPage();
        });
        </script>
}