
body {
	min-width: 992px;
	min-height: initial;
}

body .container {
	padding: 0 32px;
	width: 992px;
	height: auto;
	min-width: initial;
	min-height: initial;
	max-width: initial;
	max-height: initial;
}

.header .header--logo {
	width: 141px;
	height: 80px;
}

.header .header--item:first-child {
	margin: 0 0 0 16px;
}

.header.in-admin .header--link i {
	margin: 3px 0 0 8px;
	color: rgba(0, 0, 0, 0.54);
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	line-height: 18px;
}

.page {
	padding: 0 0 100px;
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
}

.page--title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 500;
}

.btn-blue {
	border: none;
	text-align: center;
	text-decoration: none;
	padding: 10px 35px;
	color: #ffffff;
	background: #2196F3;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	-webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	line-height: 20px;
}

.btn-blue.is-block {
	padding-left: 0;
	padding-right: 0;
	display: block;
	width: 100%;
	height: auto;
}

.create {
	padding: 41px 0 0;
}

.create--step {
	margin: 0 0 26px;
}

.create--head {
	padding: 0 0 19px;
	border-bottom: 1px solid;
	color: #97999B;
	-webkit-transition: 200ms all ease;
	-o-transition: 200ms all ease;
	transition: 200ms all ease;
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
}

.create--number {
	margin: 0 0 19px;
	font-size: 18px;
	line-height: 21px;
}

.create--title {
	font-size: 27px;
	line-height: 33px;
	font-weight: 500;
}

.create--edit {
	color: #4DAAF6;
	text-decoration: none;
	display: none;
	position: absolute;
	top: 46px;
	right: 0;
	bottom: auto;
	left: auto;
	font-size: 18px;
	line-height: 22px;
}

.create--skip {
	color: #FD7D6A;
	text-decoration: none;
	display: none;
	position: absolute;
	top: 46px;
	right: 0;
	bottom: auto;
	left: auto;
	font-size: 18px;
	line-height: 22px;
}

.create--body {
	padding: 40px 0;
	display: none;
}

.create--field {
	margin: 0 0 60px;
	width: 535px;
	height: auto;
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	font-size: 0;
	line-height: 0;
}

.create--field-i {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	padding: 3px 0 4px;
	display: block;
	width: 100%;
	height: 28px;
	font-size: 18px;
	line-height: 20px;
}

.create--field-l {
	color: rgba(0, 0, 0, 0.2);
	padding: 5px 0 0;
	font-size: 16px;
	line-height: 20px;
	display: inline-block;
	vertical-align: top;
}

	.create--field-l.is-s1 {
		width: 200px;
		height: auto;
	}

	.create--field-l.is-s2 {
		padding-left: 32px;
		width: 83px;
		height: auto;
	}

	.create--field-l.is-s3 {
		color: #4A4A4A;
	}

.create--field-b {
	display: inline-block;
	vertical-align: top;
}

	.create--field-b.is-s1 {
		width: 103px;
		height: auto;
	}

	.create--field-b.is-s2 {
		width: 108px;
		height: auto;
	}

	.create--field-b.is-s3 {
		margin: 0 20px 0 0;
		width: 180px;
		height: auto;
	}

.create--field-dl {
	color: rgba(0, 0, 0, 0.2);
	margin: 0 0 -4px;
	font-size: 12px;
	line-height: 18px;
}

.create--field-di {
	margin: 0 55px 0 0;
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	display: inline-block;
	vertical-align: top;
}

	.create--field-di:last-child {
		margin: 0;
	}

	.create--field-di input {
		border: none;
		background: none;
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.create--field-di span {
		color: rgba(0, 0, 0, 0.54);
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		white-space: nowrap;
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		line-height: 28px;
	}

		.create--field-di span.is-s1 {
			margin: 0 7px 0 0;
		}

.create--field.is-big .create--field-i {
	padding: 9px 0 6px;
	width: 100%;
	height: 36px;
	font-size: 27px;
	line-height: 20px;
}

.create--field.is-small .create--field-i {
	padding: 3px 0 7px;
	font-size: 16px;
	line-height: 20px;
	width: 100%;
	height: 31px;
}

.create--field.with-icon {
	padding: 0 0 0 40px;
}

	.create--field.with-icon > i {
		color: rgba(0, 0, 0, 0.54);
		display: block;
		position: absolute;
		top: 0;
		right: auto;
		bottom: auto;
		left: 0;
		font-size: 20px;
		line-height: 30px;
	}

		.create--field.with-icon > i.icon-mail {
			font-size: 16px;
			line-height: 30px;
		}

		.create--field.with-icon > i.icon-date {
			font-size: 20px;
			line-height: 56px;
		}

		.create--field.with-icon > i.icon-ruble {
			font-size: 20px;
			line-height: 32px;
		}

.create--file {
	margin: 0 0 60px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
}

.create--file-i {
	z-index: 2;
	opacity: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -50%;
	width: 150%;
	height: 100%;
}

.create--file-b {
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	z-index: 1;
	padding: 9px 25px;
	border: 1px solid #1089F5;
	color: #1089F5;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: 200ms all ease;
	-o-transition: 200ms all ease;
	transition: 200ms all ease;
	text-align: center;
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	line-height: 20px;
	min-width: 300px;
	min-height: initial;
	max-width: 100%;
	max-height: initial;
}

.create--editor {
	margin: 0 0 40px;
}

.create--links {
	padding: 23px 0 35px;
}

.create--link {
	margin: 0 0 26px;
	font-size: 18px;
	line-height: 22px;
}

	.create--link:last-child {
		margin: 0;
	}

	.create--link a {
		color: #4DAAF6;
		text-decoration: underline;
	}

		.create--link a:hover {
			text-decoration: none;
		}

.create--map {
	margin: 8px 0 0 -40px;
}

.create--map-in {
	background: lightgrey;
	width: auto;
	height: 192px;
}

.create--stitle {
	margin: 0 0 54px;
	font-size: 27px;
	line-height: 30px;
}

	.create--stitle.is-alt {
		margin: -4px 0 39px;
	}

.create--checkers {
	padding: 0 0 63px;
}

	.create--checkers .checkbox {
		margin: 0 0 39px;
	}

		.create--checkers .checkbox:last-child {
			margin: 0;
		}

.create--step.is-shown .create--head {
	color: #4A4A4A;
}

.create--step.is-shown .create--skip {
	display: block;
}

.create--step.is-shown .create--body {
	display: block;
}

.create--step.is-saved .create--edit {
	display: block;
}

.profile {
	padding: 38px 0 0;
}