@using BeeFee.Model.Embed
@model BeeFee.WebApplication.Models.Account.ProfileEditModel

<div class="container">
	<div>Доступные Вам разделы:</div>
	<ul>
		@if (User.IsInRole(RoleNames.Admin))
		{
			<li><a asp-area="Admin" asp-controller="Category" asp-action="Index">Категории</a></li>
			<li><a asp-area="Admin" asp-controller="Users" asp-action="Index">Пользователи</a></li>
		}
		@if (User.IsInRole(RoleNames.MultiOrganizer))
		{
			<li><a asp-area="Org" asp-controller="Company" asp-action="Index">Мои компании и события</a></li>
		}
		else if (User.IsInRole(RoleNames.Organizer))
		{
			<li><a asp-area="Org" asp-controller="Event" asp-action="Index">Мои события</a></li>
			<li><a asp-area="Org" asp-controller="Company" asp-action="Edit">Профиль организации</a></li>
		}
		else if (User.IsInRole(RoleNames.User))
		{
			<li><a asp-area="Org" asp-controller="Company" asp-action="Add">Создать компанию</a></li>
		}
		@if (User.IsInRole(RoleNames.EventModerator))
		{
			<li><a asp-area="Moderator" asp-controller="Event" asp-action="Index">Модерация</a></li>
		}
		<li><a asp-area="" asp-controller="Account" asp-action="ChangePassword">Сменить пароль</a></li>
	</ul>
	@*<form method="post" class="form-horizontal">
		<div class="validation" asp-validation-summary="ModelOnly"></div>
		<div class="container">

			<div class="form-group">
				<input class="form-control" asp-for="Name" placeholder="Название компании" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Save" class="btn" />
			</div>
		</div>
	</form>*@
</div>