@model BeeFee.WebApplication.Models.Account.SetPasswordEditModel
@{
	ViewBag.Title = "Установка пароля";
}
<div class="container">
<div class="event-text">
	<form asp-action="SetPassword" method="post">
		<input type="hidden" asp-for="VerifyEmail"/>
		<div class="modals--field">
			<div class="input-field@(!String.IsNullOrEmpty(Model.Password) ? " with-focus" : null)">
				<div class="input-field--b">
					<label class="input-field--l">Пароль</label>
					@Html.PasswordFor(x => x.Password, new {@class = "input-field--i"})
				</div>
				<div class="input-field--t"></div>
			</div>
		</div>

		<div class="modals--field">
			<div class="input-field@(!String.IsNullOrEmpty(Model.RetryPassword) ? " with-focus" : null)">
				<div class="input-field--b">
					<label class="input-field--l">Повторите пароль</label>
					@Html.PasswordFor(x => x.RetryPassword, new {@class = "input-field--i"})
				</div>
				<div class="input-field--t"></div>
			</div>
		</div>

		<div>@Html.ValidationMessage("error")</div>
		<div class="modals--submit">
			<button class="btn is-block" type="submit">Установить пароль</button>
		</div>
	</form>
</div>
</div>