@model BeeFee.WebApplication.Areas.Moderator.Models.ModerateEventEditModel

<form method="post">
	<input type="hidden" asp-for="Version" />
	<div class="validation" asp-validation-summary="ModelOnly"></div>
	<div class="container">
		
		@* TODO: Частичная страница предпросмотра *@
		
		<div class="form-group">
			<input class="form-control" asp-for="Comment" placeholder="Comment" />
			<span asp-validation-for="Comment" class="text-danger"></span>
		</div>

		<div class="form-group">
			<button name="result" value="true" class="btn">Moderate</button>
			<button name="result" value="false" class="btn">Cancel</button>
		</div>
	</div>
</form>