@using BeeFee.Model.Embed
<div class="container clearfix">
	<a class="header--logo" href="/">@*<img src="#" alt="" />*@</a>
	<nav class="header--nav hidden-xs">
		<ul class="header--list">
			<li class="header--item"><a asp-area="" asp-controller="Profile" asp-action="Edit">Профиль</a></li>
			@if (User.IsInRole(RoleNames.Admin))
			{
				<li class="header--item"><a asp-area="Admin" asp-controller="Category" asp-action="Index">Категории</a></li>
			}
			@if (User.IsInRole(RoleNames.MultiOrganizer))
			{
				<li class="header--item"><a asp-area="Org" asp-controller="Companies" asp-action="Index">Мои компании</a></li>
			}
			else if (User.IsInRole(RoleNames.Organizer))
			{
				<li class="header--item"><a asp-area="Org" asp-controller="Event" asp-action="Index">Мои события</a></li>
				<li class="header--item"><a asp-area="Org" asp-controller="Companies" asp-action="First">Профиль орг-ра</a></li>
			}
			@if (User.IsInRole(RoleNames.EventModerator))
			{
				<li class="header--item"><a asp-area="Moderator" asp-controller="Events" asp-action="Index">Модерация</a></li>
			}
		</ul>
	</nav>
	<ul class="header--links">
		<li class="header--link"><a asp-area="" asp-action="LogOff" asp-controller="Account">@User.Identity.Name<i class="icon-logout"></i></a></li>
	</ul>
</div>