<footer class="footer">
	<div class="container clearfix">
		<div class="footer--left"><a class="footer--phone" href="#"><span>8-343-365-65-65</span>Номер техподдержки</a></div>
		<div class="footer--right">
			<div class="footer--copyrights">&copy; 2017 BeFree<br /> Все права защищены</div>
		</div>
	</div>
</footer>
