@model BeeFee.WebApplication.Models.Account.LoginViewModel
<form id="loginForm" asp-action="Login" asp-controller="Account" asp-area="" method="post">
	@Html.HiddenFor(x => x.ReturnUrl)
	<div class="modals--body">
		<div class="modals--field">
			<div class="input-field">
				<div class="input-field--b">
					<label class="input-field--l">Электронная почта</label>
					@Html.TextBoxFor(x => x.Login, new { @class= "input-field--i" })
				</div>
				<div class="input-field--t"></div>
			</div>
		</div>
		<div class="modals--field">
			<div class="input-field">
				<div class="input-field--b">
					<label class="input-field--l">Пароль</label>
					@Html.PasswordFor(x => x.Pass, new { @class = "input-field--i" })
				</div>
				<div class="input-field--t"></div>
			</div>
		</div>
		<div>@Html.ValidationMessage("error")</div>
		<div class="modals--submit">
			<button class="btn is-block" type="submit">Вход</button>
		</div>
		<div class="modals--socials">
			<div class="modals--socials-t">Войти через социальную сеть</div>
			<div class="modals--socials-l"><a class="modals--social" href="#"><i class="icon-vkontakte"></i></a><a class="modals--social" href="#"><i class="icon-facebook"></i></a><a class="modals--social" href="#"><i class="icon-twitter"></i></a>
			</div>
		</div>
	</div>
</form>
