@model Core.ElasticSearch.Pager<BeeFee.ClientApp.Projections.Event.EventGridItem>
@if (Model.Any())
{
	foreach (var item in Model)
	{
		Html.RenderPartial("Home/_EventGridItem", item);
	}
}
else
{
	<div>Событий не найдено</div>
}