@model BeeFee.WebApplication.Models.Event.EventFilterViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutMain";
}
@section fixed_header
    {
    <div class="fixed-box--r" data-fixed="filter">
        <div class="container"><a class="filter--head in-fixed" href="#" data-goto="filter">Все события в городе Екатеринбург в ближайшее время</a></div>
    </div>
}
<div class="intro hidden-xs" style="background-image: url(/images/intro.png);">
    <div class="intro--box">
        <div class="container">
            <div class="intro--title">Создай своё событие</div>
            <div class="intro--text">И расскажи о нём всем</div>
            <div class="intro--btn"><a class="btn is-block is-sm" href="#">Начать</a></div>
        </div>
    </div>
</div>
@Html.Partial("_Filter")
<div class="page--in">
    <div class="container">
        <div class="grid">
            <div class="row">
                @Html.Raw(Model.EventHtml)
            </div>
        </div>
        @*<div class="loader"></div>*@
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            initIndexPage([/*{ enddateselector: "#txtSearchText2", cityselector: "#selectCity2", chkconcertselector: "#chkConcert2", chkexhibitionselector: "#chkExhibition2", chkexcursionselector: "#chkExcursion2", maxpriceselector: "#maxPrice2", btnloadselector: "#btnLoad2" },*/
                { searchtextselector: "#@Html.IdFor(m=>m.Text)",enddateselector: "#@Html.IdFor(m=>m.EndDate)", cityselector: "#@Html.IdFor(m=>m.City)", typesselector: ".type-checkbox", maxpriceselector: "#@Html.IdFor(m=>m.MaxPrice)" }], ".container .grid .row", @(Model.AllLoaded?"true":"false"));
        });
    </script>
}