@using BeeFee.Model.Embed
@model BeeFee.WebApplication.Areas.Admin.Models.AddUserModel

@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Add new user</h4>
    </div>
    <div class="modal-body">
        <form asp-action="Add" asp-controller="Users" method="post" class="form-horizontal">
            <div class="container">
                <input type="text" asp-for="Name" placeholder="Name" class="form-control"/>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="container">
                <input type="text" asp-for="Email" placeholder="Email" class="form-control"/>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="container">
                @Html.ListBox("Roles", Html.GetEnumSelectList<EUserRole>(), new {@class = "form-control"})
            </div>
            <div class="container">
                <input type="submit" value="Add" class="btn"/>
            </div>
        </form>
    </div>
</div>