@model WebApplication3.Areas.Org.Models.Company.EventCreateModel
@{
	ViewBag.Title = "Создание нового события";
}
<div class="create">
	<div class="create--step">
		<div class="create--head">
			<div class="create--number">1 / 4</div>
			<div class="create--title">Основная информация</div>
		</div>
		<div class="create--body">
			<form>
				<div class="create-container">

				</div>
				<div class="create--btn">
					<a class="btn-blue" href="#" data-step-nav="next">Сохранить и перейти к описанию</a>
				</div>
			</form>
		</div>
	</div>
	<div class="create--step">
		<div class="create--head">
			<div class="create--number">2 / 4</div>
			<div class="create--title">Подробное описание</div>
		</div>
	</div>
	<div class="create--step">
		<div class="create--head">
			<div class="create--number">3 / 4</div>
			<div class="create--title">Настройки билетов</div>
		</div>
	</div>
	<div class="create--step">
		<div class="create--head">
			<div class="create--number">4 / 4</div>
			<div class="create--title">Предпросмотр</div>
		</div>
	</div>
</div>