@model WebApplication3.Areas.Org.Models.Companies.CreateCompanyModel
@{
	ViewBag.Title = "Добавить организатора";
}
<div class="profile">
	<form method="post" enctype="multipart/form-data">
		<div class="validation" asp-validation-summary="ModelOnly"></div>

		<div class="create--field is-big">
			<input class="create--field-i" asp-for="Name" placeholder="Название компании" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>

		<div class="create--file">
			<input class="create--file-i" name="file" type="file" />
			<div class="create--file-b">Загрузить логотип</div>
		</div>

		<div class="create--field with-icon is-small">
			<i class="icon-mail"></i>
			<input class="create--field-i" asp-for="Email" placeholder="Почта для обратной связи">
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="create--field with-icon is-sm">
			<i class="icon-site"></i>
			<div class="create--field-b is-s3">
				<input class="create--field-i" asp-for="Url" placeholder="Поддомен">
				<span asp-validation-for="Url" class="text-danger"></span>
			</div>
			<div class="create--field-l is-s3">.befree.ru</div>
		</div>
		<div class="create--btn">
			<button class="btn-blue" type="submit">Сохранить</button>
		</div>
	</form>
</div>