@using BeeFee.Model.Embed
@using BeeFee.Model.Interfaces
@inject WebApplication3.Areas.Org.Models.Event.EventRequestModel RequestModel
@model WebApplication3.Areas.Org.Models.Event.EventPreviewModel

@Html.Partial("_EventPage", Tuple.Create<IEventPageProjection, object>(Model.Event, null))

@if ((Model.Event.State == EEventState.Created || Model.Event.State == EEventState.NotModerated))
{
	<div class="create--btn">
		<a asp-action="Publicate" asp-controller="Event" asp-route-id="@RequestModel.Id" asp-route-parentId="@RequestModel.ParentId" asp-route-version="@RequestModel.Version" class="btn-blue">Опубликовать</a>
	</div>
}