@using BeeFee.Model.Interfaces
@model BeeFee.WebApplication.Models.Event.EventPageModel
@{
    ViewBag.Title = Model.Event.Page.Title;
}

@Html.Partial("_EventPage", Tuple.Create<IEventPageProjection, object>(Model.Event, Model))

@section after_footer{
    <div class="hidden-xs" style="height: 156px;"></div>
}
@section Scripts{
    <script type="text/javascript">
        $(function() {
            initEventPage('.phone-number');
        });
    </script>
}

